{% extends 'base.html' %}
{% block title %} Request for New password Page {% endblock %}

{% block content %}
<h1 style="float:left;padding-left:150px;"> Request for New password </h1><br>
<form method="POST" style="float:left;">
	{% csrf_token %}
	<fieldset style="background-color:powderblue;width:750px;height:530px;color:black;padding-top:20px;">
	<input type="text" name="name" placeholder="Enter name" required>
	<br><br>
	<input type="email" name="un" placeholder="Enter register email" required>
	<br><br>
	<input type="submit" value="Reset password" class="btn btn-primary">
	<br><br>
	<h2> <strong style="color:red;">Note:</strong> New password will send on ur email </h2>
	</fieldset>
</form>
	<div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6" style="float:right;width:40%;padding-top:0px">
	<h3>Plan your day with Task Manager :) </h3><br>
      <img class="object-cover object-center rounded" alt="To-Do-List" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHH-9zZjYPsvSJWxYH4RIWpf5wbAW2NJyF3w&usqp=CAU" width="600" height="850">
    </div>

<div style="float:left;color:red;background-color:yellow;width:48%">
	<h1> {{ msg }} </h1>
	</div>
{% endblock %}